* {
    margin: 0px;
    padding: 0px;
}
 /* resseting the page */

/*background*/
#body {
    background-color: #ECECEC;
}





























/*seting animations*/
#vs {
    -webkit-animation-delay: .3s;
}
#compImage {
    -webkit-animation-delay: .3s;
}
#resultsText {
    -webkit-animation-delay: 1.2s;
}

/*
#cRock{
    background-color: #8D6E63;
}

#cPaper{
    background-color: #66BB6A;
}

#cScissors{
    background-color: #FFA726;
}*/
