* {
    margin: 0px;
    padding: 0px;
}
 /* resseting the page */

/*background*/
#body {
    background-color: #FAFAFA;
}
#header {
    background-color: #2196F3;
    height: 20vh;
    color: white;
}
#headerText h1{
    text-align: center;
    font-size: 15vh;
    font-weight: bold;
}
/*Begin App*/

#app {
    background-color: #F5F5F5;
    width: 40em;
    position: relative;
    top: 50px;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(207,207,207,1);
-moz-box-shadow: 2px 2px 8px 0px rgba(207,207,207,1);
box-shadow: 2px 2px 8px 0px rgba(207,207,207,1);    
}

#appHeader {
    height: 10em;
    background-color: #42A5F5;
    margin: 0 -15px;
}

#appHeaderText h2{
    text-align: center;
    color: white;
    font-size: 33px;
    font-weight: bold;
    position: relative;
    top: 3vh;
}

#options {
    width: 200px;
    margin: 60px auto;
}


/*Begin results Display*/


#b1_2 .h1s{
}

#b1_3 {
}

.h1s {
    font-family: sans-serif;
    font-size: 40px;
    margin: 10px auto;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    color: #2196F3
}


#display {
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.ditem {
    display: inline;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 2%;
}
    /*Picture Formatting*/
    
    /*END Picture Formatting*/

/*END results Display*/

/* Begin Choices */
#container{
    background-color: rgba(164, 217, 234, 0);
    width: 100%;
    margin: 0 auto;
    position: relative;
    clear: both;
    text-align: center;
}

.buttons {
    margin: 20px 0;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: #2196F3;
    padding: .5em 1.5em;
    border-radius: 4px;
    width: 200px;
    min-width: 100px;
    border: 1px solid rgba(255, 255, 255, 0);
/*    set  border transparancy to 0 for btn*/
    -webkit-box-shadow: 1px 1px 10px 0px rgba(148,142,148,1);
-moz-box-shadow: 1px 1px 10px 0px rgba(148,142,148,1);
box-shadow: 1px 1px 10px 0px rgba(148, 142, 148, 0.64);
}

.icons {
    height: 20vh;
    width: 20vh;
}

/*restart Button*/

#resetBox {
    margin: 0 -15px;
    background-color: #FF5722;
    height: 60px;
}
#reset-container {
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: 5px;
}
#reset {
    margin: 0 auto;
    width:  200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    padding: .5em 1.5em;
    color: white;
    border: 0 solid;
    font-family: sans-serif;
    font-weight: bold;
}
