* {
    margin: 0px;
    padding: 0px;
}
 /* resseting the page */

body {
    background-color: #ECECEC;
}

#pageheader {
    background-color:#2196F3;
    color: white;
}

#mainText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
}


/* APP CONTAINER*/
#appContainer {
    text-align: center;
}

#app {
    background-color: #F2F2F2;
    margin: 40px auto;
    float: none;
    height: 600px;
}

#appHeader {
    color: white;
    background-color: #2196F3;
    margin-left:-15px;
    margin-right:-15px;
}

#appHeadertext h2{
    font-size: 30px;
}
#appHeaderMore {
    text-align: center;
}

/*START OPTIONS*/
#options {
    margin: 80px auto;
}

.buttons {
    display: block;
    width: 230px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
    border: 0px solid rgba(176, 157, 238, 0);
    margin: 40px 0 ;
    margin-left: auto;
    margin-right: auto;
}

#cRock{
    background-color: #8D6E63;
}

#cPaper{
    background-color: #66BB6A;
}

#cScissors{
    background-color: #FFA726;
}
/*END OPTIONS*/


/*RESULTS*/
.icons {
    height: 170px;
    width: 170px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.box {
    background-color: white;
    margin: 20px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#box2 h3, #box1 h3 {
    font-weight: 300;
}


.social-Icons {
    height: 60px;
    width: 60px;
}

#logo{
    height: 100px;
    width: 100px;
}

#logotext {
    font-size: 50px;
    font-weight: 200;
    text-align: left;
}

.center-me {

}

#socialLinks {
    width: 245px;
    margin-right: 0px;
    margin-top: -20px;
}

#yellow {

    width: 80%;
    margin: 80px auto;
}
#resultsboxText {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

#box2 {
    -webkit-animation-delay: .5s;
}

/*seting animations*/
