* {
    margin: 0px;
    padding: 0px;
}
 /* resseting the page */

 /* boxes for formating */

#box1 {
    background-color: #009dd0;
    height: 20vh;
    color: aliceblue;
    margin-bottom: 30px;
}


/* Begin Header */
.box h1 {
    font-family: "helvetica";
    font-size: 5vh;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: .45em;
}

/* End Header */

/*Begin results Display*/

#display {
    
}

#b1_2 .h1s{
    display: inline;
}

#b1_3 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.h1s {
    font-family: sans-serif;
    font-size: 40px;
    margin: 0 13%;
}


#display {
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.ditem {
    display: inline;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 2%;
}
    /*Picture Formatting*/
    
    /*END Picture Formatting*/

/*END results Display*/

/* Begin Choices */
#container{
    background-color: rgba(164, 217, 234, 0);
    width: 100%;
    margin: 0 auto;
    position: relative;
    clear: both;
    text-align: center;
}

.buttons {
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #587FB2;
    background-color: white;
    padding: .5em 1.5em;
    border-radius: 4px;
    border: 6px solid;
    width: 200px;
    min-width: 100px;
}

.icons {
    height: 20vh;
    width: 20vh;
}

/*restart Button*/

.endButtons {
    width: 300px;
    text-align: center;
    margin: auto;
    top: 70vh;
    position: relative;
    top: 30px;
}
#reset {
    background-color: #ea4f4f;
    font-size: 20px;
    padding: .5em 1.5em;
    color: white;
    border: 0 solid;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 4px;
    width:  200px;
}
